version: 2

jobs:
  test:
    docker:
      - image: python:3.7
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASS
      - image: circleci/redis:5.0
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASS
    steps:
      - checkout
      - restore_cache:
          keys:
            - codeowners-v1-{{ checksum "poetry.lock" }}
      - run:
          name: install dependencies
          command: |
            # Use our new PATH so we can call poetry from bash
            echo 'export PATH="$PATH":"$HOME"/.local/bin' >> $BASH_ENV
            source $BASH_ENV
            command -v poetry || python -m pip install --user poetry==0.12.12
            poetry config settings.virtualenvs.in-project true
            poetry install
      - save_cache:
          paths:
            - ./bot/.mypy_cache
            - /root/.cache/
          key: codeowners-v1-{{ checksum "poetry.lock" }}
      - run:
          name: run tests
          command: ./s/test

  lint:
    docker:
      - image: python:3.7
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASS
    steps:
      - checkout
      - restore_cache:
          keys:
            - codeowners-v1-{{ checksum "poetry.lock" }}
      - run:
          name: install dependencies
          command: |
            # Use our new PATH so we can call poetry from bash
            echo 'export PATH="$PATH":"$HOME"/.local/bin' >> $BASH_ENV
            source $BASH_ENV
            command -v poetry || python -m pip install --user poetry==0.12.12
            poetry config settings.virtualenvs.in-project true
            poetry install
      - save_cache:
          paths:
            - ./bot/.mypy_cache
            - /root/.cache/
          key: codeowners-v1-{{ checksum "poetry.lock" }}
      - run:
          name: run lints
          command: ./s/lint

workflows:
  version: 2
  test:
    jobs:
      - test
      - lint
